<!--<div id="smartscroll" class="smartscroll-grid portfolio-container portfolio-animation" data-columns="2">-->

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="{{ .Permalink }}" class="thumb-hover text-light">

          <img src="{{ .Permalink }}{{ .Params.thumbnail }}" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">{{ .Params.genre }}</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>{{ .Title }}</strong></h2>
          </div>
        </a>
      </div>
    </div>
<!--</div>-->