{{ partial "head.html" . }}
{{ partial "header.html" . }}

<!-- HERO  -->
<section id="hero" class="hero-big">
  <div id="page-title" class="post-title">
    <h1>Our Studio</h1>
    <h3 class="title-alt">Learn more about us and our services</h3>
  </div>
  <!-- END #page-title -->
</section>
<!-- HERO -->

<!-- PAGEBODY -->
<section id="page-body">
  <div class="wrapper-big">

    <p><img class="lazy" data-src="{{ .Site.BaseURL }}uploads/1680x1100-light.jpg" width="1680" height="1100" alt="SEO"></p>

    <div class="spacer-big"></div>

    <div class="column-section spaced-big clearfix">
      <div class="column one-half">
        <img class="lazy" data-src="{{ .Site.BaseURL }}uploads/1100x650-dark.jpg" width="1100" height="650" alt="SEO">
      </div>
      <div class="column one-half last-col">
        <h4>We're an architectural firm with more than 20 some years in the Parsian market. With a large client base and 300+ commercial projects completed we are well suited to take on your next project.</h4>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts</p>
      </div>
    </div>

    <div class="spacer-big"></div>

    <div class="column-section spaced-big clearfix">
      <div class="column one-half">
        <h4>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts</h4>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
      </div>
      <div class="column one-half last-col">
        <img class="lazy" data-src="{{ .Site.BaseURL }}uploads/1100x650-dark.jpg" width="1100" height="650" alt="SEO">
      </div>
    </div>

    <div class="spacer-big"></div>

    <p><img class="lazy" data-src="{{ .Site.BaseURL }}uploads/1680x1100-light.jpg" width="1680" height="1100" alt="SEO"></p>

    <div class="spacer-big"></div>
    
    {{ $urlPre := "https://api.airtable.com/v0/applMEf0jQu3dCY3O/Events?api_key=key8bgDGdN9tE2d6r" }}
        
    {{ $events := getJSON $urlPre }}

    <div class="column-section col-sticky clearfix">
      <h1>Exhibitions</h1>
      <h3>2017</h3>
      <br>
      
      {{ range sort $events.records ".fields.Date" "desc" }}
      {{ with .fields }}
      <div class="column one-third">
        <ul class="no-list-style">
          <li>
            <small>{{ dateFormat "Jan 2, 2006" (.Date) }}</small>
            <h4>{{ .Event }}</h4>
            <small>
              {{ .Venue }} 
              <br>{{ .Location }}
            </small>
          </li>
        </ul>
        <br>
      </div>
      {{ end }}
      {{ end }}
    </div>
    
    <div class="spacer-big"></div>
    <hr>
    <div class="spacer-big"></div>

    <div class="column-section clearfix">
      <div class="column two-fourth">
        <h3>Awards we've won</h3>
      </div>
      <div class="column one-fourth">
        <ul class="no-list-style">
          <li>Red Dot Award</li>
          <li>Riba Award</li>
          <li>Jane Drew Prize</li>
          <li>Praemium Imperiale</li>
          <li>BIMA 2016</li>
        </ul>
      </div>
      <div class="column one-fourth last-col">
        <ul class="no-list-style">
          <li>Royal Gold Medal</li>
          <li>Good Design Award</li>
          <li>UIA Gold Medal</li>
          <li>Archade Award</li>
        </ul>
      </div>
    </div>

    <div class="spacer-big"></div>
    <hr>
    <div class="spacer-big"></div>

    <div class="column-section clearfix">
      <div class="column two-fourth">
        <h3>Some of our clients</h3>
      </div>
      <div class="column one-fourth">
        <ul class="no-list-style">
          {{ range $.Site.Data.about }}
            <ul>
            {{ range .clients }}
              <li>{{ . }}</li>
            {{ end }}
            </ul>
          {{ end }}
          {{ index .Site.Data "about" }}
        </ul>
      </div>
      <div class="column one-fourth last-col">
        <ul class="no-list-style">
          <li>Lexicon</li>
          <li>Rowdown Hill</li>
          <li>Sunland Group</li>
          <li>Mazzai Homes</li>
          <li><small><em>... and much more</em></small></li>
        </ul>
      </div>
    </div>

    <div class="spacer-big"></div>
  </div>
  <!-- END .wrapper-big -->
</section>
<!-- PAGEBODY -->
{{ partial "footer.html" . }}