{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "hero.html" . }}

<!-- PAGEBODY -->
<section id="page-body">
  <div id="smartscroll" class="smartscroll-grid portfolio-container portfolio-animation" data-columns="2">
    
    {{ range first 4 (where .Data.Pages "Section" "work") }}
        <div class="smartscroll-item portfolio-item portfolio-smart-item">
          <div class="portfolio-item-inner item-inner">
            <a href="portfolio-single-classic.html" class="thumb-hover text-light">
              <img src="{{ .Site.BaseURL }}images/{{ .File.TranslationBaseName }}/{{ .Params.thumbnail }}" alt="SEO">
              <div class="overlay-caption top align-left">
                <h3 class="caption-name portfolio-name do-anim"><strong>{{ .Title }}</strong></h3>
                <span class="caption-sub portfolio-category do-anim">{{ .Params.genre }}</span>
              </div>
            </a>
          </div>
        </div> 
    {{ end }}

    <!--
    {{ range first 3 .Data.Pages }}
    {{ if eq .Type "work" }}
      {{ .Render "list" }}
    {{ end }}
    {{ end }}
-->
  </div>
<!-- END .smart-scroll -->

  <div class="fullwidth-section text-light" style="background:url({{ .Site.BaseURL }}/uploads/pattern.jpg) center center; -webkit-background-size:46px 7px; -moz-background-size:46px 7px; -o-background-size:46px 7px; background-size:46px 7px;">
    <div class="fullwidth-content">

      <div class="owl-slider nav-light content-slider">
        <div>
          <blockquote class="align-center">
            <p>In any moment of decision, the best thing you can do is the right thing, the next best thing is the wrong thing, and the worst thing you can do is nothing.</p>
            <cite>Theodore Roosevelt</cite>
          </blockquote>
        </div>
        <div>
          <blockquote class="align-center">
            <p>As a designer there are not many other templates that comes close to this. This template really understands the main purposes of webdesign.</p>
            <cite>Patrick Hamilton</cite>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
  <!-- END .fullwidth-section -->
</section>
<!-- PAGEBODY -->

{{ partial "footer.html" . }}