{{ partial "header.html" . }}

{{ partial "hero.html" . }}

<!-- PAGEBODY -->
<section id="page-body">
  <!--    	<div class="spacer-big"></div>-->

  <!--
        <div class="wrapper align-center">
            <h1>We're a <strong><em>digital studio</em></strong> that believe in the power of <strong><em>great ideas</em></strong>.</h1>
            <div class="spacer-medium"></div>
            <h5 class="title-alt"><strong>See our Showreel</strong></h5>
            <p><a class="sr-button-icon button-medium" href="http://player.vimeo.com/video/129976307" data-rel="lightcase"><i class="fa fa-play"></i></a></p>
        </div> 
-->
  <!-- END .wrapper -->

  <!--        <div class="spacer-big"></div>-->

  <div id="smartscroll" class="smartscroll-grid portfolio-container portfolio-animation" data-columns="2">

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">

          <img src="{{ .Site.BaseURL }}/uploads/1100x750-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Branding</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Urban Oasis</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">
          <img src="{{ .Site.BaseURL }}/uploads/1100x950-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Web Design</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Punk<br>Bluetooth Speaker</strong></h2>
          </div>
        </a>
      </div>
    </div>


    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">

          <img src="{{ .Site.BaseURL }}/uploads/1100x750-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Web Design</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Globetouch</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">
          <img src="{{ .Site.BaseURL }}/uploads/1100x750-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Art Direction</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Five Chair</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover">
          <img src="{{ .Site.BaseURL }}/uploads/1100x650-light.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Web Design</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Bike<br>Specialized</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover">
          <img src="{{ .Site.BaseURL }}/uploads/1100x750-light.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Art Direction</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Barrel Headphones</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">
          <img src="{{ .Site.BaseURL }}/uploads/1100x650-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Branding</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Band & Roll</strong></h2>
          </div>
        </a>
      </div>
    </div>

  </div>
  <!-- END .smart-scroll -->

  <!--
       	<div class="spacer-big"></div>
       
       	<div class="wrapper">
       
       		<div class="column-section clearfix">
            	<div class="column one-fourth align-center">
                	<i class="ion ion-ios-analytics ion-6x"></i>
                	<h3>Modern Layout</h3>
                    <p>When, while the lovely valley teems with vapour around me, and meridian sun strikes the upper surface.</p>
                </div>
                <div class="column one-fourth align-center">
                	<i class="ion ion-ios-monitor-outline ion-6x"></i>
                	<h3>Digital Branding</h3>
                    <p>I throw myself down among the tall grass by the trickling stream as I lie close to the earth.</p>
                </div>
                <div class="column one-fourth align-center">
                	<i class="ion ion-ios-settings ion-6x"></i>
                	<h3>Great Options</h3>
                    <p>Oh, would I could describe these conceptions, could impress upon paper all that is living so full.</p>
                </div>
                <div class="column one-fourth last-col align-center">
                	<i class="ion ion-ios-speedometer-outline ion-6x"></i>
                	<h3>Trouble Shoot</h3>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet of spring which I enjoy.</p>
                </div>
            </div>
       </div>
-->
  <!-- END .wrapper -->

  <!--       	<div class="spacer-big"></div>-->

  <div class="fullwidth-section text-light" style="background:url({{ .Site.BaseURL }}/uploads/pattern.jpg) center center; -webkit-background-size:46px 7px; -moz-background-size:46px 7px; -o-background-size:46px 7px; background-size:46px 7px;">
    <div class="fullwidth-content">

      <div class="owl-slider nav-light content-slider">
        <div>
          <blockquote class="align-center">
            <p>In any moment of decision, the best thing you can do is the right thing, the next best thing is the wrong thing, and the worst thing you can do is nothing.</p>
            <cite>Theodore Roosevelt</cite>
          </blockquote>
        </div>
        <div>
          <blockquote class="align-center">
            <p>As a designer there are not many other templates that comes close to this. This template really understands the main purposes of webdesign.</p>
            <cite>Patrick Hamilton</cite>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
  <!-- END .fullwidth-section -->

  <!--        {{ partial "clients.html" . }}-->

</section>
<!-- PAGEBODY -->

{{ partial "footer.html" . }}