{{ partial "header.html" . }}

<!-- PAGEBODY -->
<section id="page-body">

  <div id="smartscroll" class="smartscroll-grid portfolio-container portfolio-animation" data-columns="2">


    {{- range .Pages }}
    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="{{ .Permalink }}" class="thumb-hover text-light">
          <img src="{{ .Permalink }}{{ .Params.thumbnail }}" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">{{ .Params.genre }}</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>{{ .Title }}</strong></h2>
          </div>
        </a>
      </div>
    </div>
    {{- end }}

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">
          <img src="{{ .Site.BaseURL }}uploads/1100x950-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Web Design</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Sound for <br>the next Step</strong></h2>
          </div>
        </a>
      </div>
    </div>


    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">

          <img src="{{ .Site.BaseURL }}uploads/1100x750-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Web Design</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Globetouch</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">
          <img src="{{ .Site.BaseURL }}uploads/1100x750-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Art Direction</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Five Chair</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover">
          <img src="{{ .Site.BaseURL }}uploads/1100x650-light.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Web Design</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Bike<br>Specialized</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover">
          <img src="{{ .Site.BaseURL }}uploads/1100x750-light.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Art Direction</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Barrel Headphones</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">
          <div class="overlay-media"><img src="{{ .Site.BaseURL }}uploads/1100x750-dark.jpg" alt="SEO"></div>
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Branding</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>All about <br/>Shaping</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">
          <img src="{{ .Site.BaseURL }}uploads/1100x650-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Branding</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Band & Roll</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">
          <img src="{{ .Site.BaseURL }}uploads/1100x650-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Branding</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>The Future<br>of Fitness</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover text-light">
          <img src="{{ .Site.BaseURL }}uploads/1100x650-dark.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Art Direction</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Film Noir</strong></h2>
          </div>
        </a>
      </div>
    </div>

    <div class="smartscroll-item portfolio-item portfolio-smart-item">
      <div class="portfolio-item-inner item-inner">
        <a href="portfolio-single-classic.html" class="thumb-hover">
          <img src="{{ .Site.BaseURL }}uploads/1100x750-light.jpg" alt="SEO">
          <div class="overlay-caption bottom align-left">
            <span class="caption-sub portfolio-category text-animation">Web Design</span>
            <h2 class="caption-name portfolio-name text-animation"><strong>Digital<br>Shopping</strong></h2>
          </div>
        </a>
      </div>
    </div>

  </div>
  <!-- END .smart-scroll -->

</section>
<!-- PAGEBODY -->


{{ partial "footer.html" . }}