

/* -----------------------------------------------------------------------------------
	
	FONT FAMILY
	___________
	
	Replace your fonts as needed for the different Elements

----------------------------------------------------------------------------------- */
body,
.title-alt,
input[type=text], input[type=password], input[type=email], textarea,
input[type=submit], input[type=button], button,
table thead th,
blockquote cite,
nav#main-nav ul.sub-menu > li > a,
.portfolio-category,
.filter li a,
.post-date,
.pagination li a,
#page-pagination .pagination li.page span, #page-pagination .pagination li.page a
.tp-caption.sudo-caption.title-alt,
.sr-button,
.team-role,
.phatvideo-bg .mute-video {
	font-family: 'Karla', sans-serif;
	}
	

h1, h2, h3, h4, h5, h6,
blockquote,
nav#main-nav ul > li > a,
header.menu-open nav#main-nav > ul > li > a,
.post-cat,
.pagination li a[data-title]:after,
.tp-caption.dani-caption,
.widget_recent_entries li a,
.widget_recent_comments li a {
	font-family: 'Karla', sans-serif;
	}

body{
	background-color: #C7D8EB;
}
	
/* -----------------------------------------------------------------------------------
	
	FONT STYLING
	___________
	
	Change your specefic font settings (weight,size,style,...)
	
	Only the elements/parts which were needed for the architecture demo has been changed.  
	If you need any other parts, please add it here and adapt it to your needs.

----------------------------------------------------------------------------------- */

body {
	font-weight: 300;
	font-size: 16px; 
	line-height: 25px;
	color: #708BA9;
	}
	strong, b, dt { font-weight: 400; }
	
h1, h2, h3, h4, h5, h6,
.tp-caption.dani-caption {
	font-weight: 300;
	letter-spacing: 0em;
	color: #708BA9;
	}
	h1 i, h2 i, h3 i, h4 i, h5 i, h6 i, h1 em, h2 em, h3 em, h4 em, h5 em, h6 em,
	.tp-caption.dani-caption em { font-style: italic; }
	h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong,
	.tp-caption.dani-caption strong { font-weight: 400; }
	
nav#main-nav ul > li > a {
	font-weight: 300;
	font-size: 40px;
	letter-spacing: 0.02em;
	color: #708BA9;
	}

header #logo .text-logo {
	font-weight: 600;
	text-transform: lowercase;
	}
	
.portfolio-category {
	font-weight: 300; 
	font-size: 15px;
	line-height: 24px;
	text-transform: none; 
	letter-spacing: 0em;
	color: rgba(0,0,0,0.6);
	}
	
.socialmedia-widget.text-style li a { 
	font-size: 16px;
	font-weight: 300;
	padding: 0 8px 2px 8px;
	}
	
.filter li a {
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	}

/* Headers Spacing */
div h1, div h2, div h3, div h4, div h5, div h6 { margin-top: 0px; }

/*---------------------------------------------- 

18. ANIMATIONS (portfolio, hero, text, ...)

------------------------------------------------*/

/* portfolio + hero animation */
.portfolio-container.portfolio-animation .portfolio-item .item-inner, #hero.hero-animation {
	-webkit-transform: translateY(40px);
  	-moz-transform: translateY(40px);
  	-ms-transform: translateY(40px);
  	-o-transform: translateY(40px);
  	transform: translateY(40px);
	-webkit-transition: transform 1s cubic-bezier(0.600, 0.000, 0.200, 1.000);
	   -moz-transition: transform 1s cubic-bezier(0.600, 0.000, 0.200, 1.000);
		 -o-transition: transform 1s cubic-bezier(0.600, 0.000, 0.200, 1.000);
			transition: transform 1s cubic-bezier(0.600, 0.000, 0.200, 1.000); 
	-webkit-transition-timing-function: cubic-bezier(0.600, 0.000, 0.200, 1.000);
	   -moz-transition-timing-function: cubic-bezier(0.600, 0.000, 0.200, 1.000);
		 -o-transition-timing-function: cubic-bezier(0.600, 0.000, 0.200, 1.000);
			transition-timing-function: cubic-bezier(0.600, 0.000, 0.200, 1.000); 
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	.isotope-grid.portfolio-container.portfolio-animation .portfolio-item .item-inner { transition-duration: 0.8s; }
	.portfolio-container.portfolio-animation .portfolio-item.animated .item-inner, #hero.hero-animation.animated {
	transition: transform 1s ease-in-out, opacity .8s ease-in-out;
	-webkit-transform: translateY(0%);
  	-moz-transform: translateY(0%);
  	-ms-transform: translateY(0%);
  	-o-transform: translateY(0%);
  	transform: translateY(0%);
  	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}





header #logo {
	padding: 50px 75px;
}

.color-section {
	background-color: #7C8897; 
	line-height: 22px;
}
.color-section h1, .color-section h2, .color-section h3, .color-section h4, .color-section h5, .color-section h6, 
.color-section body, .color-section small {
	color:#C7D8EB;
}
.color-section h4 {
	font-weight: 600;
} 
.color-section li {
	margin-bottom: 15px;
}


/*---------------------------------------------- 

4. FOOTER

------------------------------------------------*/

#footer .footer-bottom {
	border-top: none;
}

/*---------------------------------------------- 

5. 	MENU

------------------------------------------------*/	

/*#menu-inner {
	padding: 25px 50px;
}*/

/* Open Menu (menu-open) */
@media only screen and (min-width:769px){
	header.menu-open #menu-inner { 
		background: none; 
		width: auto;  
		position: relative; 
		top:auto; 
		right: auto; 
		float: right; 
		z-index: 15; 
		overflow: visible; 
		padding: 25px;
		margin-right: 50px; 
		border: none;  
	}
	header.menu-open nav#main-nav > ul > li > a {
		font-weight: 300;
		font-size: 16px;
		text-transform: lowercase;
		letter-spacing: 0.02em;
	}
}

/*---------------------------------------------- 

8. HERO / PAGETITLE

------------------------------------------------*/
/*#hero {
	background-color: #000000;
}*/

#revolutionslider1 {
	background-color: #000000;
}

/*---------------------------------------------- 

13. PAGINATION

------------------------------------------------*/	

.image-pagination li span.next, .image-pagination li span.prev { 
	font-family: 'Karla'; 
	text-transform: lowercase; 
	letter-spacing: 0.045em;
	font-size: 16px;
}

/*---------------------------------------------- 

18. ANIMATIONS (portfolio, hero, text, ...)

------------------------------------------------*/

/* text animation */		
.text-animation .line-animation {
	display: block;
	overflow: hidden;
	}
	
.text-animation .line-animation > span {
	-webkit-transition: transform 0.8s cubic-bezier(.56,.02,.59,1.03);
	   -moz-transition: transform 0.8s cubic-bezier(.56,.02,.59,1.03);
		 -o-transition: transform 0.8s cubic-bezier(.56,.02,.59,1.03);
			transition: transform 0.8s cubic-bezier(.56,.02,.59,1.03);
	-webkit-transition-timing-function: cubic-bezier(0.56,.02,.59,1.03);
	   -moz-transition-timing-function: cubic-bezier(.56,.02,.59,1.03);
		 -o-transition-timing-function: cubic-bezier(.56,.02,.59,1.03);
			transition-timing-function: cubic-bezier(.56,.02,.59,1.03);		
}

/* general animation */
[class*='do-anim'] {
	transition: all 0.9s ease;
	opacity: 0; filter: alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transform: translateY(20px);
  	-moz-transform: translateY(20px);
  	-ms-transform: translateY(20px);
  	-o-transform: translateY(20px);
  	transform: translateY(20px);
}