<div class="spacer-big"></div>
<div class="wrapper">
        
  <h2 class="align-center">We work with people who value their craft<br>as much as we value ours.</h2>

    <div class="column-section clearfix">
      <div class="column one-fourth align-center">
          <img src="{{ .Site.BaseURL }}uploads/logo-client.png" srcset="{{ .Site.BaseURL }}uploads/logo-client.png 1x, {{ .Site.BaseURL }}uploads/logo-client@2x.png 2x" alt="SEO">
        </div>
        <div class="column one-fourth align-center">
          <img src="{{ .Site.BaseURL }}uploads/logo-client.png" srcset="{{ .Site.BaseURL }}uploads/logo-client.png 1x, {{ .Site.BaseURL }}uploads/logo-client@2x.png 2x" alt="SEO">
        </div>
        <div class="column one-fourth align-center">
          <img src="{{ .Site.BaseURL }}uploads/logo-client.png" srcset="{{ .Site.BaseURL }}uploads/logo-client.png 1x, {{ .Site.BaseURL }}uploads/logo-client@2x.png 2x" alt="SEO">
        </div>
        <div class="column one-fourth last-col align-center">
          <img src="{{ .Site.BaseURL }}uploads/logo-client.png" srcset="{{ .Site.BaseURL }}uploads/logo-client.png 1x, {{ .Site.BaseURL }}uploads/logo-client@2x.png 2x" alt="SEO">
        </div>
    </div>

    <div class="column-section clearfix">
      <div class="column one-fourth align-center">
          <img src="{{ .Site.BaseURL }}uploads/logo-client.png" srcset="{{ .Site.BaseURL }}uploads/logo-client.png 1x, {{ .Site.BaseURL }}uploads/logo-client@2x.png 2x" alt="SEO">
        </div>
        <div class="column one-fourth align-center">
          <img src="{{ .Site.BaseURL }}uploads/logo-client.png" srcset="{{ .Site.BaseURL }}uploads/logo-client.png 1x, {{ .Site.BaseURL }}uploads/logo-client@2x.png 2x" alt="SEO">
        </div>
        <div class="column one-fourth align-center">
          <img src="{{ .Site.BaseURL }}uploads/logo-client.png" srcset="{{ .Site.BaseURL }}uploads/logo-client.png 1x, {{ .Site.BaseURL }}uploads/logo-client@2x.png 2x" alt="SEO">
        </div>
        <div class="column one-fourth last-col align-center">
          <img src="{{ .Site.BaseURL }}uploads/logo-client.png" srcset="{{ .Site.BaseURL }}uploads/logo-client.png 1x, {{ .Site.BaseURL }}uploads/logo-client@2x.png 2x" alt="SEO">
        </div>
    </div>

</div> <!-- END .wrapper -->
<div class="spacer-big"></div>