<!-- FOOTER -->
<footer id="footer">
  <div class="footer-bottom wrapper">
    <div class="column-section clearfix">
      <div class="column one-half">
        <div class="widget widget_social">
          <ul class="socialmedia-widget">
            <li class="facebook">
              <a href="#"></a>
            </li>
            <li class="twitter">
              <a href="#"></a>
            </li>
            <li class="instagram">
              <a href="#"></a>
            </li>
            <li class="tumblr">
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="column one-half last-col align-right">
        <small>© {{ .Page.Now.Year }} {{ .Site.Params.Author }} </small>
      </div>
    </div>
  </div>

  <a id="backtotop" href="#"></a>

</footer>
<!-- FOOTER End -->


</div>
<!-- END #page-content -->
<!-- PAGE CONTENT -->

<!-- SCRIPTS -->
<script src="{{ .Site.BaseURL }}js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/plugins.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/tweenMax.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.smartscroll.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.lightcase.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jribbble.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/script.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.backgroundparallax.min.js"></script>


<!-- SCRIPTS -->

</body>

</html>