<!-- FOOTER -->
<footer id="footer">
<!--
  <div class="footer-inner wrapper">
    <div class="column-section clearfix">
      <div class="column one-third">
        <div class="widget widget_text">
          <h3>ecco screen</h3>
          <p>new media art.</p>
          <p><a href="mailto: {{ .Site.Params.email }}"><strong>{{ .Site.Params.email }}</strong></a></p>
        </div>
      </div>

      <div class="column one-third">
        <div class="widget widget_recent_entries">
          <h5 class="widget-title title-alt"><strong>Recent Posts</strong></h5>
          <ul>
            <li><a href="blog-single-classic.html">Experience the sound of a modern and clean 360° Bluetooth Speaker</a><span class="post-date">June 6, 2016</span></li>
            <li><a href="blog-single-classic.html">Golden rule of modern web design</a><span class="post-date">June 1, 2016</span></li>
          </ul>
        </div>
      </div>

      <div class="column one-third last-col">

      </div>
    </div>
  </div>
-->

  <div class="footer-bottom wrapper">
    <div class="column-section clearfix">
      <div class="column one-half">
        <div class="widget widget_social">
          <ul class="socialmedia-widget">
            <li class="facebook">
              <a href="#"></a>
            </li>
            <li class="twitter">
              <a href="#"></a>
            </li>
            <li class="instagram">
              <a href="#"></a>
            </li>
            <li class="tumblr">
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="column one-half last-col align-right">
        <small>© 2017 {{ .Site.Params.Author }} </small>
      </div>
    </div>
  </div>

  <a id="backtotop" href="#"></a>

</footer>
<!-- FOOTER End -->


</div>
<!-- END #page-content -->
<!-- PAGE CONTENT -->

<!-- SCRIPTS -->
<script src="{{ .Site.BaseURL }}js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/plugins.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/tweenMax.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.smartscroll.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.lightcase.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jribbble.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/script.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/responsiveslides.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery.backgroundparallax.min.js"></script>
<script>
  $(function() {
    $(".rslides").responsiveSlides({
  auto: true,             // Boolean: Animate automatically, true or false
  speed: 2000,            // Integer: Speed of the transition, in milliseconds
  timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
  pager: false,           // Boolean: Show pager, true or false
  nav: false,             // Boolean: Show navigation, true or false
  prevText: "Previous",   // String: Text for the "previous" button
  nextText: "Next",       // String: Text for the "next" button
  maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
  navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
  manualControls: "",     // Selector: Declare custom pager navigation
  namespace: "rslides",   // String: Change the default namespace used
  before: function(){},   // Function: Before callback
  after: function(){}     // Function: After callback
});
  });
</script>

<!-- SCRIPTS -->

</body>

</html>