<!-- HEADER -->
<header id="header" class="transparent text-light menu-open">
  <div class="header-inner clearfix">

    <!-- LOGO -->
    <div id="logo" class="text-logo">
      <a href="{{ .Site.BaseURL }}" class="text-logo">{{ .Site.Params.Author }}</a>
    </div>

    <!-- MAIN NAVIGATION -->
    <div id="menu" class="clearfix">

      <div class="menu-actions clearfix">
        <div class="menu-toggle"><span class="hamburger"></span><span class="cross"></span></div>
      </div>
      <!-- END .menu-actions -->
      <div id="menu-inner">
        <nav id="main-nav">
          <ul class="underline">
            <li><a href="{{ .Site.BaseURL }}work"><span>Work</span></a></li>
            <li><a href="{{ .Site.BaseURL }}about"><span>About</span></a></li>
          </ul>
        </nav>
      </div>
      <!-- END #main-nav -->
    </div>
    <!-- END #menu -->
  </div>
  <!-- END .header-inner -->
</header>
<!-- HEADER end -->