<!doctype html>
<html class="no-js" lang="en-US">

<head>

  <!-- DEFAULT META TAGS -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" id="default-style-css" href="{{ .Site.BaseURL }}css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" id="custom-css" href="{{ .Site.BaseURL }}css/custom-architecture.css" type="text/css" media="all" />
  <link rel="stylesheet" id="fontawesome-style-css" href="{{ .Site.BaseURL }}css/font-awesome.min.css" type="text/css" media="all" />
  <link rel="stylesheet" id="ionic-icons-style-css" href="{{ .Site.BaseURL }}css/ionicons.css" type="text/css" media="all" />
  <link rel="stylesheet" id="revolution-slider-main-css" href="{{ .Site.BaseURL }}revolution/css/settings.css" type="text/css" media="all" />
  <link rel="stylesheet" id="revolution-slider-layer-css" href="{{ .Site.BaseURL }}revolution/css/layers.css" type="text/css" media="all" />
  <link rel="stylesheet" id="revolution-slider-nav-css" href="{{ .Site.BaseURL }}revolution/css/navigation.css" type="text/css" media="all" />
  <link rel="stylesheet" id="lightcase-css" href="{{ .Site.BaseURL }}css/lightcase.css" type="text/css" media="all" />
  <link rel="stylesheet" id="owlcarousel-css" href="{{ .Site.BaseURL }}css/owl.carousel.css" type="text/css" media="all" />
  <link rel="stylesheet" id="responisve-style-css" href="{{ .Site.BaseURL }}css/mqueries.css" type="text/css" media="all" />
  <link rel="stylesheet" id="responsive-slides" href="{{ .Site.BaseURL }}css/responsiveslides.css" type="text/css" media="all" />


  <!-- FAVICON -->
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}uploads/favicon.png" />

  <!-- DOCUMENT TITLE -->
  <title>{{ .Site.Title }} - {{ .Title }} </title>

</head>

<body>

  <!-- PAGE LOADER -->
  <!--
<div id="page-loader" class="pulsing">
	<div class="loader-name"><img src="{{ .Site.BaseURL }}uploads/logo-dani-dark.png" srcset="{{ .Site.BaseURL }}uploads/logo-dani-dark.png 1x, {{ .Site.BaseURL }}uploads/logo-dani-dark@2x.png 2x" alt="Loader Logo"></div>
    <div class="loader-circle">
    	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 253.4 253.4" style="enable-background:new 0 0 253.4 253.4;" xml:space="preserve"><circle cx="126.7" cy="126.7" r="124.2"/>
		</svg>
   	</div>
</div>
-->
  <!-- PAGE LOADER -->


  <!-- PAGE CONTENT -->
  <div id="page-content">

    <!-- HEADER -->
    <header id="header" class="transparent text-light menu-open">
      <div class="header-inner clearfix">

        <!-- LOGO -->
        <div id="logo" class="text-logo">
          <a href="{{ .Site.BaseURL }}" class="text-logo">{{ .Site.Params.Author }}</a>
          <!--
                	<img id="dark-logo" src="files/uploads/logo-dani-dark.png" srcset="files/uploads/logo-dani-architecture-dark.png 1x, files/uploads/logo-dani-architecture-dark@2x.png 2x" alt="Logo Dark">
                	<img id="light-logo" src="files/uploads/logo-dani-light.png" srcset="files/uploads/logo-dani-architecture-light.png 1x, files/uploads/logo-dani-architecture-light@2x.png 2x" alt="Logo light">
-->

        </div>

        <!-- MAIN NAVIGATION -->
        <div id="menu" class="clearfix">

          <div class="menu-actions clearfix">
            <div class="menu-toggle"><span class="hamburger"></span><span class="cross"></span></div>
          </div>
          <!-- END .menu-actions -->
          <div id="menu-inner">
            <nav id="main-nav">
              <ul class="underline">
                <li><a href="{{ .Site.BaseURL }}/work"><span>Work</span></a></li>
                <li><a href="about-architecture.html"><span>About</span></a></li>
                <li><a href="contact-architecture.html"><span>Contact</span></a></li>
              </ul>
            </nav>
          </div>
          <!-- END #main-nav -->
        </div>
        <!-- END #menu -->

      </div>
      <!-- END .header-inner -->
    </header>
    <!-- HEADER end -->