<!doctype html>
<html class="no-js" lang="en-US">

<head>

  <!-- DEFAULT META TAGS -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" id="default-style-css" href="{{ .Site.BaseURL }}css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" id="custom-css" href="{{ .Site.BaseURL }}css/custom-architecture.css" type="text/css" media="all" />
  <link rel="stylesheet" id="fontawesome-style-css" href="{{ .Site.BaseURL }}css/font-awesome.min.css" type="text/css" media="all" />
  <link rel="stylesheet" id="ionic-icons-style-css" href="{{ .Site.BaseURL }}css/ionicons.css" type="text/css" media="all" />
  <link rel="stylesheet" id="revolution-slider-main-css" href="{{ .Site.BaseURL }}revolution/css/settings.css" type="text/css" media="all" />
  <link rel="stylesheet" id="revolution-slider-layer-css" href="{{ .Site.BaseURL }}revolution/css/layers.css" type="text/css" media="all" />
  <link rel="stylesheet" id="revolution-slider-nav-css" href="{{ .Site.BaseURL }}revolution/css/navigation.css" type="text/css" media="all" />
  <link rel="stylesheet" id="lightcase-css" href="{{ .Site.BaseURL }}css/lightcase.css" type="text/css" media="all" />
  <link rel="stylesheet" id="owlcarousel-css" href="{{ .Site.BaseURL }}css/owl.carousel.css" type="text/css" media="all" />
  <link rel="stylesheet" id="responisve-style-css" href="{{ .Site.BaseURL }}css/mqueries.css" type="text/css" media="all" />


  <!-- FAVICON -->
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}uploads/favicon.png" />

  <!-- DOCUMENT TITLE -->
  
  <title>
      {{ .Site.Title }}{{ if not .IsHome }} - {{ .Title }}{{ end }}
  </title>

</head>

<body>

  <!-- PAGE CONTENT -->
<div id="page-content">