<!-- HERO  -->
<section id="hero" class="hero-auto">



  <div class="revolution-slider-wrapper">

    

    
  </div>
  <!-- END .revolution-slider-wrapper -->
  
  <!-- new additions  -->
    <ul class="rslides" style="height: 100%;">
      <li><img src="{{ .Site.BaseURL }}uploads/1680x1100-dark.jpg" alt=""></li>
      <li><img src="{{ .Site.BaseURL }}uploads/1680x1100-light.jpg" alt=""></li>
      <li><img src="{{ .Site.BaseURL }}uploads/strands-5.jpg" alt=""></li>
    </ul>

    <!-- end new additions  -->

  <a href="#" id="scrolldown" class="center scroll-light"></a>

</section>
<!-- HERO -->