<!-- HERO  -->
<section id="hero" class="hero-auto">



  <div class="revolution-slider-wrapper">

    <!-- new additions  -->
<!--
    <ul class="rslides">
      <li><img src="{{ .Site.BaseURL }}uploads/1680x1100-dark.jpg" alt=""></li>
      <li><img src="{{ .Site.BaseURL }}uploads/1680x1100-light.jpg" alt=""></li>
      <li><img src="{{ .Site.BaseURL }}uploads/strands-5.jpg" alt=""></li>
    </ul>
-->

    <!-- end new additions  -->

    <div id="revolutionslider1" class="revolution-slider" data-version="5.0">
      <ul>

        <li class="text-light" data-transition="parallaxhorizontal" data-masterspeed="1200">
          <!-- MAIN IMAGE -->
          <img src="{{ .Site.BaseURL }}uploads/1680x1100-dark.jpg" alt="" width="1920" height="1280">

          <!-- LAYER NR. 1 -->
          <div class="tp-caption dani-caption align-center" data-x="center" data-hoffset="0" data-y="center" data-voffset="['-50','-50','-40','-35']" data-fontsize="['80','80','70','36']" data-lineheight="['96','86','84','46']" data-width="['none','full','full','full']" data-height="auto" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1" data-transform_in="o:0;s:500;e:Power1.easeInOut;" data-transform_out="o:0" data-start="1000" data-responsive_offset="on">
            <strong>bounding main</strong>
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption dani-caption align-center" data-x="center" data-hoffset="0" data-y="center" data-voffset="['50','50','40','35']" data-fontsize="['36','36','30','22']" data-lineheight="['46','46','38','28']" data-width="['none','full','full','280px']" data-height="auto" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1" data-transform_in="o:0;s:500;e:Power1.easeInOut;" data-transform_out="o:0" data-start="1000" data-responsive_offset="on">
            is an interactive installation.
          </div>
        </li>
        <!-- END first slide -->

        <li class="text-dark" data-transition="parallaxhorizontal" data-masterspeed="1200">
          <!-- MAIN IMAGE -->
          <img src="{{ .Site.BaseURL }}uploads/1680x1100-light.jpg" alt="" width="1920" height="1280">

          <!-- LAYER NR. 1 -->
          <div class="tp-caption dani-caption" data-x="left" data-hoffset="['100',80',60','30']" data-y="center" data-voffset="0" data-basealign="slide" data-fontsize="['60','60','54','38']" data-lineheight="['74','74','66','50']" data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1" data-transform_in="o:0;s:500;e:Power1.easeInOut;" data-transform_out="o:0" data-start="1000" data-responsive_offset="on">
            <strong><em>Balance</em></strong> is
            <br>our secret sauce
          </div>
        </li>
        <!-- END second slide -->

        <li class="text-light" data-transition="parallaxhorizontal" data-masterspeed="1200">
          <!-- MAIN IMAGE -->
          <img src="{{ .Site.BaseURL }}uploads/strands-5.jpg" alt="" width="1920" height="1280">

          <!-- LAYER NR. 1 -->
          <div class="tp-caption dani-caption" data-x="left" data-hoffset="['100',80',60','30']" data-y="center" data-voffset="0" data-basealign="slide" data-fontsize="['60','60','54','38']" data-lineheight="['74','74','66','50']" data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1" data-transform_in="o:0;s:500;e:Power1.easeInOut;" data-transform_out="o:0" data-start="1000" data-responsive_offset="on">
            Based in
            <br><strong><em>Sydney</em></strong>, Australia
          </div>
        </li>
        <!-- END third slide -->


      </ul>
    </div>
    <!-- END .revolution-slider -->
  </div>
  <!-- END .revolution-slider-wrapper -->

  <a href="#" id="scrolldown" class="center scroll-light"></a>

</section>
<!-- HERO -->