<!-- HERO  -->
<section id="hero" class="hero-auto">
  <div class="revolution-slider-wrapper">
    <div id="revolutionslider1" class="revolution-slider" data-version="5.0">
      <ul>
        <li class="text-light" data-transition="crossfade" data-masterspeed="2500"><img src="{{ .Site.BaseURL }}uploads/1680x1100-dark.jpg" alt=""></li>
        <li class="text-light" data-transition="crossfade" data-masterspeed="2500"><img src="{{ .Site.BaseURL }}uploads/1680x1100-light.jpg" alt=""></li>
        <li class="text-light" data-transition="crossfade" data-masterspeed="2500"><img src="{{ .Site.BaseURL }}uploads/strands-5.jpg" alt="">
      </ul>
    </div>
  </div>
  <!-- END .revolution-slider-wrapper -->
  
  <a href="#" id="scrolldown" class="center scroll-light"></a>
</section>
<!-- HERO -->