<!DOCTYPE html>
<html lang="">

{% include head.html %}

<body>   
    
<div class="bg-cover bg-center flex flex-center"
        style="background-image: url(https://farm1.staticflickr.com/698/21347644895_04722256c5_h.jpg);min-height:100vh">
    <div class="col-12 sm-col-8 mx-auto px3 py2 white">
        <p class="h1 mb0 bold italic">ecco screen</p>
        <p class="h2 italic">creative developer and artist</p>
    </div>
</div>

  
<div class="clearfix bg-black white px4 py3">
  {{ content }}
</div>
    
</body>
</html>